*~
*.egg
*.egg-info
*.log
*.pyc
*.pyo
*.swp
*.pss
.DS_Store
.coverage*
.vscode/
.env
.eggs/
.pytest_cache/
__pycache__
.cache/
.mypy_cache
.ruff_cache
build/
docs/_build
dist/
env*/
venv*/
htmlcov/
tmp/
coverage.xml
nosetests.xml
.tox