# Runtime
PyYAML~=6.0.3 
types-PyYAML~=6.0.12.20250915
marshmallow~=4.2.2
marshmallow-dataclass~=8.7.1
marshmallow-enum~=1.5.1
pluggy~=1.6.0
python-dotenv~=1.2.2

# Build
setuptools>=82.0.1
build

# Formatting
black

# Validation
mypy
ruff
psutil~=7.0.0
types-psutil~=7.1.1.20251122

#Testing
humanize~=4.12.3
tox~=4.50.3

# Documentation
Sphinx~=9.0.4
sphinx_rtd_theme~=3.1.0

# Security
cachetools<=7.0.6
librt<=0.9.0
markdown-it-py<=4.0.0
python-discovery<=1.2.2
types-PyYAML<=6.0.12.20260408
urllib3<=2.6.3
virtualenv<=21.3.0
pip==26.1