# Runtime
PyYAML~=6.0.2 
types-PyYAML~=6.0.12.20250516
marshmallow~=4.0.0
marshmallow-dataclass[enum,union]~=8.7.1
marshmallow-enum~=1.5.1
pluggy~=1.6.0
python-dotenv~=1.1.0

# Build
build~=1.2.2.post1

# Formatting
black~=25.1.0

# Validation
mypy~=1.15.0
ruff~=0.11.11
pip_audit~=2.9.0
psutil~=7.0.0
types-psutil~=5.9.5.20240423

#Testing
humanize~=4.12.3
tox~=4.26.0

# Documentation
Sphinx~=5.3.0
sphinx_rtd_theme~=1.1.1