# Runtime
PyYAML~=6.0.3 
types-PyYAML~=6.0.12.20250915
marshmallow~=4.2.2
marshmallow-dataclass[enum,union]~=8.7.1
marshmallow-enum~=1.5.1
pluggy~=1.6.0
python-dotenv~=1.2.2

# Build
build~=1.4.0

# Formatting
black~=26.3.1

# Validation
mypy~=1.19.1
ruff~=0.15.7
pip-audit~=2.10.0
psutil~=7.0.0
types-psutil~=7.1.1.20251122

#Testing
humanize~=4.12.3
tox~=4.50.3

# Documentation
Sphinx~=9.0.4
sphinx_rtd_theme~=3.1.0